<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>motionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE4CE61F1DF8048F0079A34C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4CE6381DF8048F0079A34C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4CE6431DF8048F0079A34C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
